body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffe6ee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  position: relative;
  width: 700px;
  height: 900px;
  background: #121212;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.main-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("/src/img/picture.jpg");
  transition: 0.7s ease;
}

.main-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #121212 6%, transparent);
  opacity: 0;
  transition: 0.7s ease;
  z-index: 1;
}

.info {
  position: absolute;
  bottom: 0;
  color: #fff;
  width: 100%;
  height: 110px;
  text-align: center;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  opacity: 0;
  transition: 0.7s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 1;
}

#name {
  font-weight: bolder;
}

.main-container:hover .info {
  opacity: 1;
}

.main-container:hover::after {
  transition: scale(1.06);
}
